/* CSS for LinkFilter extension */

/**
 * Hide redundant heading, title is already shown
 * @see https://phabricator.wikimedia.org/T143145
 */
.ns-700 .firstHeading {
	display: none;
}

.lr-left {
	float: left;
	width: 55%;
}

.lr-right {
	float: right;
	border-left: 1px solid #dcdcdc;
	float: right;
	padding: 0 0 0 20px;
	margin: 0 0 20px 0;
	width: 40%;
}

.lr-right h2 {
	padding: 0 0 10px 0;
	margin: 0 !important;
}

.lr-right h3 {
	padding: 0 0 10px 0 !important;
	margin: 0 !important;
	font-size: 16px;
}

.lr-right p {
	padding: 0 !important;
	margin: 10px 0 !important;
}

.lr-top-link {
	font-weight: bold;
	margin: 0 0 5px 0;
}

.link-highlight {
	background-color: #fffb9b;
	border: 1px solid #fdc745;
	padding: 0 8px;
}

.lr-top-link a {
	font-weight: bold;
	text-decoration: none;
}

.lr-left p {
	margin: 0 !important;
	padding: 8px 0 !important;
	font-weight: bold;
	font-size: 13px;
}

.lr-input {
	width: 300px;
}

.admin-link {
	border-bottom: 1px solid #dcdcdc;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	color: #333;
}

.client-js .no-js-btn {
	display: none;
}

/**
 * This is kinda awful, and by kinda I mean totally.
 * On some skins (such as Dusk, Nimbus) the default (10px, see above) is good
 * enough, whereas on others it's just not enough and will cause a pesky UI glitch.
 */
.skin-deskmessmirrored div.admin-link:not(.border-fix),
.skin-greystuff div.admin-link:not(.border-fix),
.skin-mask div.admin-link:not(.border-fix),
.skin-metrolook div.admin-link:not(.border-fix),
.skin-monobook div.admin-link:not(.border-fix),
.skin-refreshed div.admin-link:not(.border-fix),
.skin-splash div.admin-link:not(.border-fix),
.skin-truglass div.admin-link:not(.border-fix),
.skin-vector div.admin-link:not(.border-fix) {
	padding-bottom: 35px;
}

.admin-title {
	font-size: 17px;
	padding: 0 0 10px 0;
	/* Prevent long link titles from overflowing (T156133) */
	word-break: break-all;
}

.admin-submitted {
	padding: 0 0 10px 0;
}

.client-nojs .action-buttons form {
	display: inline-block;
}

.action-reject {
	display: block;
	background-color: #f15a3a;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	padding: 2px 8px;
	margin: 0 10px 0 0;
	float: left;
}

.action-accept {
	display: block;
	background-color: #68bd46;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	float: left;
	padding: 2px 8px;
	margin: 0 5px 0 0;
}

.action-reject:hover {
	background-color: #b80202;
	color: #fff;
}

.action-accept:hover {
	background-color: #466c2c;
	color: #fff;
}

.approved-link {
	padding: 0 0 6px 0;
	/* Prevent long link titles from overflowing (T156133) */
	word-break: break-all;
}

.approved-link a {
	font-weight: bold;
}

.approve-link-time {
	color: #888;
	font-size: 11px;
	margin: 0 0 0 5px;
}

/* Page CSS */
.link-url a {
	font-size: 20px;
	font-weight: bold;
}

.link-url {
	padding-top: 10px;
	/* Prevent long link titles from overflowing (T156133) */
	word-break: break-all;
}

.link-type {
	margin-top: 15px;
	width: 130px;
	font-size: 14px;
	line-height: 20px;
	background-color: orange;
	padding: 2px 6px;
	color: #fff;
	font-weight: bold;
	margin: 0 6px 0 0;
}

.link-date {
	color: #888;
	font-size: 11px;
	padding: 6px 0 4px;
}

.link-domain {
	font-size: 12px;
	padding: 4px 0 0 0;
	color: green;
}

#link-page-container {
	overflow: hidden;
}

#link-page-left {
	float: right;
	width: 20%;
	margin: 0;
}

#link-page-middle {
	width: 75%;
	overflow: hidden;
}

#link-page-right {
	float: left;
	width: 179px;
	padding: 8px 0 0 0;
	background-color: #f2f4f7;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px;
}

#link-page-middle #edit-menu {
	margin: 0 0 0 7px !important;
}

.link-left-units {
	background-color: #f2f4f7;
	padding: 10px 10px 15px 10px;
	border-bottom: 1px solid #dcdcdc;
}

.link-container {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #dcdcdc;
}

.link-container h2 {
	margin: 0 0 8px 0 !important;
	font-size: 16px;
	letter-spacing: -1px;
	color: #333;
}

.bottom-fix {
	border-bottom: none !important;
	padding-bottom: 5px !important;
	margin-bottom: 0 !important;
}

.link-recent {
	line-height: 13px;
	padding: 0 0 6px 0;
}

.link-recent a {
	text-decoration: none;
}

/* Author */

/*.author-container {
}*/

.author-container-fix {
	margin: 0 0 10px 0;
}

.more-container {
	margin: 0 0 10px 0;
	padding: 7px 0 5px 0;
	border-bottom: 1px solid #dcdcdc;
}

.more-container-fix {
	margin: 0 !important;
	border: none !important;
}

.link-left-units h2 {
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none;
	color: #333;
}

.author-info {
	font-size: 11px;
	color: #333;
	line-height: 14px;
	margin: 10px 0 0 0;
}

.author-info img {
	float: left;
	border: 1px solid #dcdcdc;
	padding: 3px;
	background-color: #fff;
	display: block;
	text-align: justify;
	margin: 0 10px 0 0;
}

.more-container h3 {
	margin: 0 0 5px 0 !important;
	font-size: 11px;
	letter-spacing: -1px;
	color: #555;
}

.author-title {
	margin: 0 0 6px 0;
}

.author-title a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

/* Comment of the Day */
.cod-score {
	font-weight: bold;
	color: #fff;
	background-color: orange;
	padding: 0 3px;
	margin: 0 4px 0 0;
}

.cod-poster a,
.cod-comment a {
	font-size: 12px;
	text-decoration: none;
}

.cod-comment {
	line-height: 13px;
}

.cod-item {
	margin: 0 0 5px 0;
	overflow: hidden;
}

.cod-item img {
	padding: 1px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	vertical-align: middle;
}

/* Ad Unit */
.article-ad {
	margin: 10px 0 0 0;
	text-align: center;
}

.article-ad a {
	text-align: center;
}

/* Casual Game (the RandomGameUnit extension) */
.game-unit-container {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}

.game-unit-container h2 {
	margin: 0 0 8px 0 !important;
	font-size: 16px;
	letter-spacing: -1px;
	color: #333;
}

.poll-unit-title {
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	color: #777;
	margin: 0 0 8px 0;
}

.poll-unit-choices a {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

.poll-unit-image {
	margin: 0 0 8px 0;
}

.poll-unit-image img {
	padding: 3px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}

.poll-unit-choices input {
	margin: 0 5px 0 0;
}

.quiz-unit-image {
	margin: 8px 0 0 0;
}

.quiz-unit-image img {
	padding: 3px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}

.quiz-unit-title a {
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
}

.pg-unit-title {
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	color: #777;
	margin: 0 0 8px 0;
}

.pg-unit-pictures img {
	float: left;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 3px;
	margin: 0 3px 0 0;
}

.pickem-unit-game {
	/*border-bottom:1px solid #dcdcdc;*/
	padding: 8px 0;
}

.pickem-unit-date {
	font-weight: bold;
}

.pickem-unit-visitor, .pickem-unit-home {
	margin: 5px 0 0 0;
	cursor: pointer;
}

.pickem-unit-visitor img, .pickem-unit-home img {
	vertical-align: middle;
	border: 1px solid #dcdcdc;
	margin: 0 5px 0 0;
}

.pickem-unit-nogame {
	font-weight: bold;
	color: #ff0000;
}

/* List Pages */
#link-page-right .listpages-item {
	line-height: 14px;
}

#link-page-right .listpages-item a {
	font-size: 12px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

#link-page-right .listpages-item {
	margin: 0 0 6px 0 !important;
}

/* By Line */
.link-byline {
	font-weight: bold;
	margin: 8px 0 0 0;
	color: #555;
	font-size: 13px;
}

.link-byline-last-edited {
	font-size: 11px;
	color: #888;
	margin: 0 0 15px 0;
}

/* Categories */
#categories {
	padding: 10px 0;
}

.full {
	width: 530px;
}

.reply {
	margin-left: 70px !important;
	width: 460px;
}

/* Links Home */
.link-home-navigation a {
	background-color: orange;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 8px;
	display: block;
	float: left;
	margin: 0 6px 0 0;
}

.link-home-navigation a:hover {
	color: #fff;
	background-color: #dd9001;
	text-decoration: none;
}

.border-fix {
	border-bottom: none !important;
}

.border-top-fix {
	border-top: none !important;
}

.links-home-left {
	width: 70%;
	float: left;
	padding: 15px 0 0 0;
}

.links-home-right {
	float: right;
	width: 20%;
	margin: 0;
	overflow: hidden;
}

.links-home-unit-container {
	background-color: #f2f4f7;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	padding: 10px;
}

.links-home-unit-container .listpages-item {
	margin: 0 0 6px 0 !important;
	line-height: 14px;
}

.links-home-unit-container .listpages-item a {
	font-size: 12px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

.links-home-date {
	font-size: 16px;
	color: #555;
	font-weight: bold;
	padding: 25px 0 5px 0;
}

.link-item-container {
	border-top: 1px solid #dcdcdc;
	padding: 15px 0;
}

.link-item-type {
	width: 20%;
	padding-right: 10px;
	float: left;
	font-weight: bold;
	font-size: 13px;
	color: #888;
}

.link-item {
	padding-right: 10px;
	width: 60%;
	color: #333;
	float: left;
}

.link-item a {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.link-item-page {
	float: left;
}

.link-item-page a {
	font-size: 11px;
	text-decoration: none;
}

.page-nav {
	padding: 10px 0 10px 0;
}

.page-nav a {
	font-weight: bold;
}

/* Link Submit */
.lr-left .link-home-navigation {
	padding: 0 0 5px 0;
}

.link-submit-title {
	color: #333;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	font-weight: bold;
}

.padding-fix {
	padding-top: 0;
}

.link-submit-button {
	padding: 10px 0 10px 0;
}

input.lr-input {
	width: 90%;
}

textarea.lr-input {
	width: 90%;
}

.link-characters-left {
	color: #888;
	font-size: 11px;
}

.link-item-hook {
	line-height: 12px;
	margin: 0 0 7px 0;
	overflow: hidden;
}

.link-item-hook-type {
	background-color: orange;
	color: #fff;
	padding: 0 5px;
	margin: 0 5px 0 0;
	font-size: 9px;
}

.link-item-hook-url {
	margin: 0 3px 0 0;
}

.link-item-hook-page a {
	text-decoration: none;
	color: #666;
	font-size: 10px;
}

.link-item-hook-page a:hover {
	color: #333;
}

/* Fix for Special:LinkSubmit & Special:LinksHome */
.link-home-navigation a:visited {
	color: #fff !important;
}

/* Styles for low-end smartphones with a low resolution (i.e. Nokia X) */
@media screen and (max-width: 750px) {
	/* LinkFilter */
	div.lr-right {
		/* Make the instructions fit next to the form */
		max-width: 35%;
	}
	/* Buttons on Special:LinkApprove */
	div.action-buttons a.action-accept,
	div.action-buttons a.action-reject {
		padding: 15px;
	}
}
